JAVA Basics/README.md
JAVA Basics/.vscode/settings.json
JAVA Basics/src/App.class
JAVA Basics/src/Main.class
JAVA Basics/src/Q2.class
JAVA Basics/src/Q3.class
JAVA Basics/src/Q4.class
JAVA Basics/src/Q5.class
JAVA Basics/src/Q6.class
JAVA Basics/src/Q7.class
JAVA Basics/src/Q8.class
JAVA Basics/src/Q9.class
JAVA Basics/src/Q10.class
JAVA Basics/src/Q11.class
JAVA Basics/src/Q12.class
JAVA Basics/src/Q13.class
JAVA Basics/src/Q14.class
JAVA Basics/src/Q15.class
JAVA Basics/src/Q16.class   
JAVA Basics/src/Q17.class
JAVA Basics/src/Q18.class
JAVA Basics/src/Q19.class
JAVA Basics/src/Q20.class
JAVA Basics/src/Q21.class
JAVA Basics/src/Q22.class
JAVA Basics/src/Q1.class
