JAVA Basics/README.md
JAVA Basics/.vscode/settings.json
Java formula Qns/Q1.class
Java formula Qns/Q2.class
Java formula Qns/Q3.class
Java formula Qns/Q4.class
Java formula Qns/Q5.class
Java formula Qns/Q6.class
Java formula Qns/Q7.class
Java formula Qns/Q8.class
Java formula Qns/Q9.class
Java formula Qns/Q10.class
Java formula Qns/Q11.class
Java formula Qns/Q12.class
Java formula Qns/Q13.class
Java formula Qns/Q14.class
Java formula Qns/Q15.class
JAVA Input and OP/Q1.class
JAVA Input and OP/Q2.class
JAVA Input and OP/Q3.class
JAVA Input and OP/Q4.class
JAVA Input and OP/Q5.class
JAVA Input and OP/Q6.class
JAVA Input and OP/Q7.class
JAVA Input and OP/Q8.class
JAVA Input and OP/Q9.class
JAVA Input and OP/Q10.class
JAVA Input and OP/Q11.class
JAVA Input and OP/Q12.class
JAVA Input and OP/Q13.class
JAVA Input and OP/Q14.class
JAVA Input and OP/Q15.class
Scenario Based Qns/Q1.class
Scenario Based Qns/Q2.class
Scenario Based Qns/Q3.class
Scenario Based Qns/Q4.class
Scenario Based Qns/Q5.class
Scenario Based Qns/Q6.class
Scenario Based Qns/Q7.class
Scenario Based Qns/Q8.class
Scenario Based Qns/Q9.class
Scenario Based Qns/Q10.class
Scenario Based Qns/Q11.class
Scenario Based Qns/Q12.class
Scenario Based Qns/Q13.class
Scenario Based Qns/Q14.class
Scenario Based Qns/Q15.class
Java Operators/Q1.class
Java Operators/Q2.class
Java Operators/Q3.class
Java Operators/Q4.class
Java Operators/Q5.class
Java Operators/Q6.class
Java Operators/Q7.class
Java Operators/Q8.class
Java Operators/Q9.class
Java Operators/Q10.class
Java Operators/Q11.class
Java Operators/Q12.class
Java Operators/Q13.class
Java Operators/Q14.class
Java Operators/Q15.class
Java Basics/.classpath
Java Basics/.project
Java Basics/.settings/org.eclipse.jdt.core.prefs
Java Basics/.settings/org.eclipse.jdt.ui.prefs

Conditional/Year Based Sums/Q1.class
Conditional/Year Based Sums/Q2.class
Conditional/Year Based Sums/Q3.class
Conditional/Year Based Sums/Q4.class
Conditional/Year Based Sums/Q5.class


Conditional/Scenario based on cons/Q1.class
Conditional/Scenario based on cons/Q2.class
Conditional/Scenario based on cons/Q3.class
Conditional/Scenario based on cons/Q4.class
Conditional/Scenario based on cons/Q5.class
Conditional/Scenario based on cons/Q6.class
Conditional/Scenario based on cons/Q7.class
Conditional/Scenario based on cons/Q8.class
Conditional/Scenario based on cons/Q9.class
Conditional/Scenario based on cons/Q10.class

Conditional/Switch Case/Q1.class
Conditional/Switch Case/Q2.class
Conditional/Switch Case/Q3.class
Conditional/Switch Case/Q4.class
Conditional/Switch Case/Q5.class

Conditional/Geometry Based/Q1.class
Conditional/Geometry Based/Q2.class
Conditional/Geometry Based/Q3.class
Conditional/Geometry Based/Q4.class
Conditional/Geometry Based/Q5.class
Conditional/Geometry Based/Q6.class
Conditional/Geometry Based/Q7.class
Conditional/Character based/Q1.class
Conditional/Character based/Q2.class
Conditional/Character based/Q3.class
Conditional/Character based/Q4.class
Conditional/Character based/Q5.class
Conditional/Number based/Q1.class
Conditional/Number based/Q2.class
Conditional/Number based/Q3.class
Conditional/Number based/Q4.class
Conditional/Number based/Q5.class
Conditional/Number based/Q6.class
Conditional/Number based/Q7.class
Conditional/Number based/Q8.class
Conditional/Number based/Q9.class
Conditional/Number based/Q10.class
Conditional/Number based/Q11.class
Conditional/Number based/Q12.class
Conditional/Number based/Q13.class
Conditional/Number based/Q14.class
Conditional/Number based/Q15.class
Conditional/Number based/Q16.class
Conditional/Number based/Q17.class
Conditional/Number based/Q18.class
Conditional/Number based/Q19.class
Conditional/Number based/Q20.class
Concept.class
Conditional/Scenario based on cons/Q11.class
Conditional/Scenario based on cons/Q12.class
Conditional/Scenario based on cons/Q14.class
Conditional/Scenario based on cons/Q16.class
Conditional/Scenario based on cons/Q15.class
Conditional/Scenario based on cons/Q17.class
Conditional/Scenario based on cons/Q18.class
Conditional/Scenario based on cons/Q19.class
Conditional/Scenario based on cons/Q13.class
Looping/Important number concepts/Q1.class
Looping/Important number concepts/Q2.class
Looping/Important number concepts/Q3.class
Looping/Important number concepts/Q4.class
Looping/Important number concepts/Q5.class
Looping/Important number concepts/Q6.class
Looping/Important number concepts/Q7.class
Looping/Important number concepts/Q8.class
Looping/Important number concepts/Q9.class
Looping/Important number concepts/Q10.class
Looping/Important number concepts/Q11.class

Looping/TASKS/Q1.class
Looping/TASKS/Q2.class
Looping/TASKS/Q3.class
Looping/TASKS/Q4.class
Looping/TASKS/Q5.class
Looping/TASKS/Q6.class
Looping/TASKS/Q7.class
Looping/TASKS/Q8.class
Looping/TASKS/Q9.class
Looping/TASKS/Q10.class
Looping/TASKS/Q11.class
Looping/TASKS/Q12.class
Looping/TASKS/Q13.class
Looping/TASKS/Q14.class
Looping/TASKS/Q15.class
Looping/TASKS/Q16.class
Looping/TASKS/Q17.class
Looping/TASKS/Q18.class
Looping/TASKS/Q19.class
Looping/TASKS/Q20.class
Looping/TASKS/Q21.class
Looping/TASKS/Q22.class
Looping/TASKS/Q23.class
Looping/Important number concepts/Q1.class
Looping/Important number concepts/Q2.class
Looping/Important number concepts/Q1.class   
Looping/Important number concepts/Q2.class   
Looping/Important number concepts/Q3.class  
Looping/Important number concepts/Q4.class   
Looping/Important number concepts/Q5.class   
Looping/Important number concepts/Q6.class   
Looping/Important number concepts/Q7.class 
Looping/Important number concepts/Q8.class   
Looping/Important number concepts/Q9.class   
Looping/Important number concepts/Q10.class
Looping/Important number concepts/Q11.class  
Looping/Important number concepts/Q12.class 
Looping/Important number concepts/Q13.class 
Looping/Important number concepts/Q14.class  
Looping/Important number concepts/Q15.class  
Looping/Important number concepts/Q16.class  
Looping/Important number concepts/Q17.class  
Looping/Important number concepts/Q18.class  
Looping/Important number concepts/Q19.class 
Looping/Important number concepts/Q20.class  
Looping/Important number concepts/Q21.class  
Looping/Important number concepts/Q22.class  
Looping/Important number concepts/Q23.class 
Looping/Important number concepts/Q24.class  
Looping/Important number concepts/Q25.class  
Looping/Patterns level 1/Q1.class
Looping/Patterns level 1/Q2.class
Looping/Patterns level 1/Q3.class
Looping/Patterns level 1/Q4.class
Looping/Patterns level 1/Q5.class
Looping/Patterns level 1/Q6.class
Looping/Patterns level 1/Q7.class
Looping/Patterns level 1/Q8.class
Looping/Patterns level 1/Q9.class
Looping/Patterns level 1/Q10.class
Looping/Patterns level 1/Q11.class
Looping/Patterns level 1/Q12.class
Looping/Patterns level 1/Q13.class
Looping/Patterns level 1/Q14.class
Looping/Patterns level 1/Q15.class
Looping/Patterns level 1/Q16.class
Looping/Patterns level 1/Q17.class
Looping/Patterns level 1/Q18.class
Looping/Patterns level 1/Q19.class
Looping/Patterns level 1/Q20.class
Looping/Patterns level 1/Q21.class
Looping/Patterns level 1/Q22.class
Looping/Patterns level 1/Q23.class
Looping/Patterns level 1/Q24.class
Looping/Patterns level 1/Q25.class

Looping/Patterns Task/Q1.class
Looping/Patterns Task/Q2.class
Looping/Patterns Task/Q3.class
Looping/Patterns Task/Q4.class
Looping/Patterns Task/Q5.class
Looping/Patterns Task/Q6.class
Looping/Patterns Task/Q7.class
Looping/Patterns Task/Q8.class
Looping/Patterns Task/Q9.class
Looping/Patterns Task/Q10.class
Looping/Patterns Task/Q11.class
Looping/Patterns Task/Q12.class
Looping/Patterns Task/Q13.class
Looping/Patterns Task/Q14.class
Looping/Patterns Task/Q15.class
Looping/Patterns Task/Q16.class
Looping/Patterns Task/Q17.class
Looping/Patterns Task/Q18.class
Looping/Patterns Task/Q19.class
Looping/Patterns Task/Q20.class
Looping/Patterns Task/Q21.class
Looping/Patterns Task/Q22.class
Looping/Patterns Task/Q23.class
Looping/Patterns Task/Q24.class
Looping/Patterns Task/Q25.class
